[submodule "third_party/openthread"]
	path = third_party/openthread/repo
	url = git@github.com:sonamugroup/openthread.git
[submodule "third_party/lwip"]
	path = third_party/lwip/repo
	url = git@github.com:sonamugroup/lwip.git
[submodule "third_party/libjwt"]
	path = third_party/libjwt/repo
	url = git@github.com:sonamugroup/libjwt.git
[submodule "third_party/jansson"]
	path = third_party/jansson/repo
	url = git@github.com:sonamugroup/jansson.git
[submodule "third_party/mbedtls/repo"]
	path = third_party/mbedtls/repo
	url = git@github.com:sonamugroup/mbedtls.git
[submodule "third_party/freertos-addons/repo"]
	path = third_party/freertos-addons/repo
	url = git@github.com:sonamugroup/freertos-addons.git
